apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: {{ namespace }}
  name: mysqld-exporter
spec:
  selector:
    matchLabels:
      app: mysqld-exporter
      k8s-app: mysqld-exporter
  replicas: 1
  template:
    metadata:
      labels:
        app: mysqld-exporter
        k8s-app: mysqld-exporter
    spec:
      containers:
      - name: mysqld-exporter
        image: prom/mysqld-exporter
        env:
        - name: DATA_SOURCE_NAME
          value: {{ database_user }}:{{ database_pw }}@({{ database_service_name }}:{{ database_port }})/
        ports:
        - containerPort: 9104
---
kind: Service
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: mysqld-exporter
  labels:
    app: mysqld-exporter
    k8s-app: mysqld-exporter
spec:
  selector:
    app: mysqld-exporter
  ports:
  - name: mysqld-exporter
    port: 9104
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: monitoring
  name: mysqld-exporter
  labels:
    k8s-app: mysql
spec:
  selector:
    matchLabels:
      app: mysqld-exporter
  namespaceSelector:
    matchNames:
    - {{ namespace }}
  endpoints:
  - port: mysqld-exporter
    interval: 15s
