apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  ETCD_NAME: etcd0
  ETCD_ADVERTISE_CLIENT_URLS: http://{{ service_name }}:2379
  ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
  ETCD_INITIAL_ADVERTISE_PEER_URLS: http://{{ service_name }}:2380
  ETCD_LISTEN_PEER_URLS: http://0.0.0.0:2380
  ETCD_INITIAL_CLUSTER_TOKEN: etcd-cluster-1
  ETCD_INITIAL_CLUSTER: etcd0=http://{{ service_name }}:2380
  ETCD_INITIAL_CLUSTER_STATE: new
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
  - name: client-request-port
    port: 2379
  - name: peer-communication-port
    port: 2380
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  storageClassName: rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      securityContext:
        fsGroup: 7777
      containers:
      - name: {{ app_tier }}
        image: {{ image }}
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-config
        ports:
        - name: client-request
          containerPort: 2379
        - name: peer-comm
          containerPort: 2380
        volumeMounts:
          - name: {{ app_tier }}
            mountPath: /etcd0.etcd
      volumes:
        - name: {{ app_tier }}
          persistentVolumeClaim:
            claimName: {{ app_tier }}-pv-claim
