apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs
  namespace: {{ namespace }}
provisioner: {{ provisioner_name }} # or choose another name, must match deployment's env PROVISIONER_NAME'
parameters:
  archiveOnDelete: "false"