version: '3.4'
services:
  {{nginx_service_name}}:
    image: {{nginx_image}}
 #   healthcheck:
 #     test: wget -O /dev/0 http://localhost:80/ || exit 1
 #     interval: 1s
 #     timeout: 3s
 #     retries: 3
 #     start_period: 10m
    deploy:
      replicas: {{replicas}}
      placement:
        constraints:
          - node.role == worker
    ports:
      - {{nginx_service_port}}:80
