apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  PORT: "{{ service_port }}"
  ROOT_URL: "https://{{ master_ip }}:{{ service_port }}" #"http://{{ service_name }}:{{ service_port }}"
  MONGO_URL: "mongodb://{{ db_user }}:{{ db_password }}@{{ db_service_name }}:{{ db_port }}/{{ db_name }}"
  INSTANCE_IP: "{{ master_ip }}"
  MONGO_OPLOG_URL: "mongodb://root:{{ db_root_password }}@{{ db_service_name }}:{{ db_port }}/local?authSource=admin"
  ADMIN_USERNAME: "{{ admin_username }}"
  ADMIN_EMAIL: "{{ admin_email }}"
  OVERWRITE_SETTING_Show_Setup_Wizard: "completed"
  OVERWRITE_SETTING_API_Enable_Rate_Limiter_Limit_Calls_Default: "1000000"
---
apiVersion: v1
kind: Secret
metadata:
  name: rocketchat-admin-pass
  namespace: {{ namespace }}
type: Opaque
data:
  password: {{ admin_pass | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - port: {{ service_port }}
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: 1 #will be scaled in main.yml task
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      securityContext:
        #runAsUser: 0
        fsGroup: 7777
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: tier
                    operator: In
                    values:
                      - {{ app_tier }}
              topologyKey: "kubernetes.io/hostname"
      initContainers:
        - name: init-{{ app_tier }}
          image: busybox:1.30
          command:
            - sh
            - -c
            - until nc -zv {{ db_service_name }} {{ db_port }}; do echo waiting for {{ db_service_name }}; sleep 2; done;
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-config
        env:
        - name: ADMIN_PASS
          valueFrom:
            secretKeyRef:
              name: rocketchat-admin-pass
              key: password
        ports:
        - containerPort: {{ db_port }}
          name: {{ app_tier }}
        readinessProbe:
          httpGet:
            path: /api/info
            port: {{ service_port}}
          initialDelaySeconds: 10
          timeoutSeconds: 5
#          periodSeconds: 1
        livenessProbe:
          httpGet:
            path: /api/info
            port: {{ service_port}}
          initialDelaySeconds: 600
          timeoutSeconds: 10
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_tier }}-ingress
  namespace: {{ namespace }}
spec:
  backend:
    serviceName: {{ service_name }}
    servicePort: {{ service_port }}
