apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  MONGODB_USERNAME: {{ db_user }}
  MONGODB_DATABASE: {{ db_name }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_tier }}-secrets
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    tier: {{ app_tier }}
type: Opaque
data:
  MONGODB_PASSWORD: {{ db_password | b64encode | quote }}
  MONGODB_ROOT_PASSWORD: {{ db_root_password | b64encode | quote }}
  MONGODB_REPLICA_SET_KEY: {{ db_replica_key | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ db_service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - port: {{ db_port }}
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}-primary
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  storageClassName: rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}-primary
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}-primary
    app_type: {{ app_type }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      app_type: {{ app_type }}
      tier: {{ app_tier }}-primary
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        app_type: {{ app_type }}
        tier: {{ app_tier }}-primary
    spec:
      securityContext:
        #runAsUser: 0
        fsGroup: 7777
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app_type
                      operator: In
                      values:
                        - {{ app_type }}
                topologyKey: kubernetes.io/hostname
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
      containers:
        - image: {{ image }}
          name: {{ app_tier }}-primary
          envFrom:
            - configMapRef:
                name: {{ app_tier }}-config
            - secretRef:
                name: {{ app_tier }}-secrets
          env:
          - name: MONGODB_REPLICA_SET_MODE
            value: primary
          ports:
            - containerPort: {{ db_port }}
              name: {{ app_tier }}-primary
          volumeMounts:
            - name: {{ app_tier }}
              mountPath: /bitnami
      volumes:
      - name: {{ app_tier }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}-secondary
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    app_type: {{ app_type }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      app_type: {{ app_type }}
      tier: {{ app_tier }}-secondary
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        app_type: {{ app_type }}
        tier: {{ app_tier }}-secondary
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                      - key: app_type
                        operator: In
                        values:
                          - {{ app_type }}
                  topologyKey: kubernetes.io/hostname
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
      initContainers:
        - name: init-{{ app_tier }}-secondary
          image: busybox:1.30
          command:
            - sh
            - -c
            - until nc -zv {{ db_service_name }} {{ db_port }}; do echo waiting for {{ db_service_name }}; sleep 2; done;
      containers:
        - image: {{ image }}
          name: {{ app_tier }}-secondary
          env:
          - name: MONGODB_REPLICA_SET_MODE
            value: secondary
          - name: MONGODB_PRIMARY_HOST
            value: {{ db_service_name }}
          - name: MONGODB_PRIMARY_PORT_NUMBER
            value: "{{ db_port }}"
          - name: MONGODB_PRIMARY_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ app_tier }}-secrets
                key: MONGODB_ROOT_PASSWORD
          - name: MONGODB_REPLICA_SET_KEY
            valueFrom:
              secretKeyRef:
                name: {{ app_tier }}-secrets
                key: MONGODB_REPLICA_SET_KEY
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}-arbiter
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    app_type: {{ app_type }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      app_type: {{ app_type }}
      tier: {{ app_tier }}-arbiter
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        app_type: {{ app_type }}
        tier: {{ app_tier }}-arbiter
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                      - key: app_type
                        operator: In
                        values:
                          - {{ app_type }}
                  topologyKey: kubernetes.io/hostname
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: In
                    values:
                      - bad
      initContainers:
        - name: init-{{ app_tier }}-arbiter
          image: busybox:1.30
          command:
            - sh
            - -c
            - until nc -zv {{ db_service_name }} {{ db_port }}; do echo waiting for {{ db_service_name }}; sleep 2; done;
      containers:
        - image: {{ image }}
          name: {{ app_tier }}-arbiter
          env:
          - name: MONGODB_REPLICA_SET_MODE
            value: arbiter
          - name: MONGODB_PRIMARY_HOST
            value: {{ db_service_name }}
          - name: MONGODB_PRIMARY_PORT_NUMBER
            value: "{{ db_port }}"
          - name: MONGODB_PRIMARY_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ app_tier }}-secrets
                key: MONGODB_ROOT_PASSWORD
          - name: MONGODB_REPLICA_SET_KEY
            valueFrom:
              secretKeyRef:
                name: {{ app_tier }}-secrets
                key: MONGODB_REPLICA_SET_KEY