apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-exporter-config
  namespace: {{ namespace }}
data:
  MONGODB_URI: "mongodb://root:{{ db_root_password }}@{{ db_service_name }}:{{ db_port }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ namespace }}
  name: {{ app_tier }}-exporter
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      k8s-app: {{ app_tier }}-exporter
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ app_name }}
        k8s-app: {{ app_tier }}-exporter
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 1
                preference:
                  matchExpressions:
                    - key: hardware
                      operator: In
                      values:
                        - bad
      containers:
      - name: {{ app_tier }}-exporter
        image: bruceforce/percona-mongodb-exporter:latest
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-exporter-config
        ports:
        - containerPort: 9216
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ namespace }}
  name: {{ app_tier }}-exporter
  labels:
    app: {{ app_name }}
    k8s-app: {{ app_tier }}-exporter
spec:
  selector:
    k8s-app: {{ app_tier }}-exporter
  ports:
  - name: {{ app_tier }}-exporter
    port: 9216
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: monitoring
  name: {{ app_tier }}-exporter
  labels:
    k8s-app: {{ app_tier }}-exporter
spec:
  selector:
    matchLabels:
      k8s-app: {{ app_tier }}-exporter
  namespaceSelector:
    matchNames:
    - {{ namespace }}
  endpoints:
  - port: {{ app_tier }}-exporter
    interval: 15s
