---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ wordpress_service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - name: {{ wordpress_service_name }}-ui
      port: 80
      protocol: TCP
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      containers:
      - image: {{ image }}
        name: {{ app_name }}
        env:
        - name: WORDPRESS_DB_HOST
          value: {{ mysql_service_name }}
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: password
        ports:
        - containerPort: 80
          name: {{ app_name }}
        volumeMounts:
        - name: {{ app_name }}
          mountPath: /var/www/html
      volumes:
      - name: {{ app_name }}
        persistentVolumeClaim:
          claimName: {{ app_name }}-pv-claim
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_name }}-ingress
  namespace: {{ namespace }}
spec:
  backend:
    serviceName: {{ wordpress_service_name }}
    servicePort: 80
