version: '3.4'
services:
  {{nginx_service_name}}:
    image: {{nginx_image}}
    deploy:
      replicas: {{replicas}}
      placement:
        constraints:
          - node.role == worker
    configs:
      - source: conf
        target: /etc/nginx/conf.d/ssl-conf.conf
        mode: 0777
    secrets:
      - cert
      - key
    ports:
      - 31443:443

secrets:
  cert:
    file: /tmp/nginx/config/msap_x509.crt
  key:
    file: /tmp/nginx/config/msap_x509.key
configs:
  conf:
    file: /tmp/nginx/config/nginx.conf