---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  WORDPRESS_USERNAME: wordpress
  WORDPRESS_PASSWORD: wordpress
  WORDPRESS_EMAIL: wordpress@localhost.local
  WORDPRESS_FIRST_NAME: root
  WORDPRESS_LAST_NAME: toor
  WORDPRESS_BLOG_NAME: MSAP-Blog
  WORDPRESS_DATABASE_USER: {{ db_user }}
  WORDPRESS_DATABASE_NAME: {{ db_database }}
  MARIADB_HOST: {{ db_service_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ wordpress_service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - name: {{ wordpress_service_name }}-ui
      port: 80
      protocol: TCP
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: 1 #will be scaled in main task
  progressDeadlineSeconds: 600
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: tier
                    operator: In
                    values:
                      - {{ app_tier }}
              topologyKey: "kubernetes.io/hostname"
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-config
        env:
        - name: WORDPRESS_DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: password
        ports:
        - containerPort: 80
          name: {{ app_tier }}
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          timeoutSeconds: 5
#          periodSeconds: 1
        volumeMounts:
        - name: {{ app_tier }}
          mountPath: /bitnami
      volumes:
      - name: {{ app_tier }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_tier }}-ingress
  namespace: {{ namespace }}
spec:
  backend:
    serviceName: {{ wordpress_service_name }}
    servicePort: 80
