version: "3.3"
services:
  {{job_service_name}}:
    image: {{perl_image}}
    command: ["perl",  "-Mbignum=bpi", "-wle", "print bpi({{numbers}})"]
    deploy:
      replicas: {{replicas}}
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: none      