kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: rbd-provisioner
  namespace: {{ namespace }}
subjects:
  - kind: ServiceAccount
    name: rbd-provisioner
    namespace: {{ namespace }}
roleRef:
  kind: ClusterRole
  name: rbd-provisioner
  apiGroup: rbac.authorization.k8s.io
