apiVersion: v1
kind: Secret
metadata:
  name: ceph-admin-secret
  namespace: {{ namespace }}
type: "kubernetes.io/rbd"
data:
  # ceph auth get-key client.admin | base64
  key: {{ ceph_admin_key | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
  namespace: {{ namespace }}
type: "kubernetes.io/rbd"
data:
  # ceph auth add client.kube mon 'allow r' osd 'allow rwx pool=kube'
  # ceph auth get-key client.kube | base64
  key: {{ ceph_kube_key | b64encode }}
