kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: rbd
  namespace: {{ namespace }}
provisioner: ceph.com/rbd
parameters:
  #monitors: 192.168.90.10:6789,192.168.90.11:6789,192.168.90.12:6789
  monitors: {{ ceph_mons }}
  pool: kube
  adminId: admin
  adminSecretNamespace: {{ namespace }}
  adminSecretName: ceph-admin-secret
  userId: kube
  userSecretNamespace: {{ namespace }}
  userSecretName: ceph-secret
  imageFormat: "2"
  imageFeatures: layering