apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  POSTGRES_USER: {{ db_user }}
  POSTGRES_DB: {{ db_name }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_tier }}-secrets
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    tier: {{ app_tier }}
type: Opaque
data:
  POSTGRES_PASSWORD: {{ db_password | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ db_service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - port: {{ db_port }}
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  storageClassName: rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-config
          - secretRef:
              name: {{ app_tier }}-secrets
        ports:
        - containerPort: {{ db_port }}
          name: {{ app_tier }}
        readinessProbe:
          exec:
            command:
              - sh
              - -c
              - exec pg_isready -U {{ db_user }} -d {{ db_name }} -h localhost
          periodSeconds: 60
        volumeMounts:
        - name: {{ app_tier }}
          mountPath: /data
          subPath: postgres_data
      volumes:
      - name: {{ app_tier }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim