spec:
  template:
    spec:
      containers:
        - name: nginx-ingress-controller
          args:
          {% for arg in deployment_args.stdout.split(" ") -%}
            - {{ arg }}
          {% endfor -%}
            - --default-ssl-certificate=$(POD_NAMESPACE)/ingress-tls-cert
