spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
      nodePort: {{ httpPort }}
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
      nodePort: {{ httpsPort }}
    - name: ssh
      port: 22
      targetPort: 22
      protocol: TCP
      nodePort: {{ sshPort }}
    - name: registry
      port: 4567
      targetPort: 4567
      protocol: TCP
      nodePort: {{ registryPort }}
    - name: mysql
      port: 3306
      targetPort: 3306
      protocol: TCP
      nodePort: {{ mysqlPort }}
    - name: mongodb
      port: 27017
      targetPort: 27017
      protocol: TCP
      nodePort: {{ mongoPort }}
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
      nodePort: {{ postgresPort }}
