---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
{% if ssl %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-tls-config
  namespace: {{ namespace }}
data:
  ssl-config.conf: |
    server {
      listen  80;
      listen  443 ssl;
      server_name localhost;
      ssl_certificate  /etc/nginx/ssl/tls.crt;
      ssl_certificate_key /etc/nginx/ssl/tls.key;

      location / {
        root  /usr/share/nginx/html;
        index index.html index.htm;
      }

      error_page 500 502 503 504 /50x.html;
      location = /50x.html {
        root /usr/share/nginx/html;
      }
    }
---
{% endif %}
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - name: {{ service_name }}-ui
      port: 80
    {%- if ssl %}

    - name: {{ service_name }}-ui-secure
      port: 443
      nodePort: 31443
  type: NodePort
    {%- endif %}

  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: hardware
                operator: NotIn
                values:
                - bad
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: tier
                    operator: In
                    values:
                      - {{ app_tier }}
              topologyKey: "kubernetes.io/hostname"
      containers:
      - image: {{ image }}
        name: {{ app_name }}
        ports:
        - name: ui
          containerPort: 80
        {%- if ssl %}

        - name: ui-secure
          containerPort: 443
        volumeMounts:
        - mountPath: /etc/nginx/conf.d
          name: {{ app_name }}-tls-config
        - mountPath: /etc/nginx/ssl
          name: {{ app_name }}-tls-cert
        {% endif %}
      {%- if ssl %}

      volumes:
      - name: {{ app_name }}-tls-config
        configMap:
          name: {{ app_name }}-tls-config
      - name: {{ app_name }}-tls-cert
        secret:
          secretName: {{ app_name }}-tls-cert
      {%- endif %}

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_name }}-ingress
  namespace: {{ namespace }}
spec:
  backend:
    serviceName: {{ service_name }}
    servicePort: 80
