apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-exporter-config
  namespace: {{ namespace }}
data:
  REDIS_ADDR: redis://redis:6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ namespace }}
  name: {{ app_tier }}-exporter
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      k8s-app: {{ app_tier }}-exporter
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ app_name }}
        k8s-app: {{ app_tier }}-exporter
    spec:
      containers:
      - name: {{ app_tier }}-exporter
        image: oliver006/redis_exporter:alpine
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-exporter-config
        ports:
        - containerPort: 9121
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ namespace }}
  name: {{ app_tier }}-exporter
  labels:
    app: {{ app_name }}
    k8s-app: {{ app_tier }}-exporter
spec:
  selector:
    app: {{ app_name }}
  ports:
  - name: {{ app_tier }}-exporter
    port: 9121
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: monitoring
  name: {{ app_tier }}-exporter
  labels:
    k8s-app: {{ app_tier }}-exporter
spec:
  selector:
    matchLabels:
      k8s-app: {{ app_tier }}-exporter
  namespaceSelector:
    matchNames:
    - {{ namespace }}
  endpoints:
  - port: {{ app_tier }}-exporter
    interval: 15s
