apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - port: 6379
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  storageClassName: rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        ports:
        - containerPort: 6379
          name: {{ app_tier }}
        readinessProbe:
          exec:
            command:
              - sh
              - -c
              - redis-cli PING
        volumeMounts:
        - name: {{ app_tier }}
          mountPath: /data
          subPath: postgres_data
      volumes:
      - name: {{ app_tier }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim