version: '3.3'
services:
   {{bitwarden_service_name}}:
     image: {{ bitwarden_image }}
     ports:
       - 31080:80
     volumes:
       - type: volume
         source: bitwarden
         target: /data
         volume:
           nocopy: true
volumes:
  bitwarden:
    driver_opts:
      type: "nfs4"
      o: "addr={{ hostvars[groups['master'][0]]['ansible_eth1'].ipv4.address }},nolock,rw"
      device: ":/cephfile/{{ nfs_data_folder }}"