apiVersion: v1
kind: Secret
metadata:
  name: ceph-admin-secret
  namespace: {{ namespace }}
type: "kubernetes.io/rbd"
data:
  # ceph auth get-key client.admin | base64
  key: {{ ceph_admin_key | b64encode }}
