kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: cephfs
  namespace: {{ namespace }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: ceph.com/cephfs
parameters:
  #monitors: 192.168.90.10:6789,192.168.90.11:6789,192.168.90.12:6789
  #< v14: "addr: 192.168.0.12:6789/0
  #>= v14: "addrs": "[v2:192.168.0.12:3300/0,v1:192.168.0.12:6789/0]"
  monitors: {{ ceph_mons }}
  adminId: admin
  adminSecretName: ceph-admin-secret
  adminSecretNamespace: {{ namespace }}
  claimRoot: /pvc-volumes