version: "3.3"
services:
        {{wordpress_service_name}}:
          image: {{wordpress_image_version}}
          deploy:
            replicas: 1
            placement:
              constraints:
                - node.role == worker
          volumes:
            - type: volume
              source: wordpress_config_nfs
              target: /bitnami/wordpress
            - type: volume
              source: wordpress
              target: /bitnami
              volume:
                nocopy: true
          ports:
            - "{{ wordpress_service_port }}:80"
         #   - "{{ wordpress_service_port_secure }}:443"
          environment:
            WORDPRESS_USERNAME: {{wordpress_username}}
            WORDPRESS_PASSWORD: {{wordpress_password}}
            WORDPRESS_EMAIL: a@a.de
            WORDPRESS_FIRST_NAME: root
            WORDPRESS_LAST_NAME: toor
            WORDPRESS_BLOG_NAME: MSAP-Blog
            MARIADB_HOST:  percona-xtradb-cluster
            WORDPRESS_DATABASE_USER: {{mysql_user}}
            WORDPRESS_DATABASE_PASSWORD: {{mysql_password}}
            WORDPRESS_DATABASE_NAME: {{mysql_database}}
        {{mysql_exporter_service_name}}:
          image: {{mysql_exporter_image_version}}
          ports:
            - "9104:9104"
          command: ["--collect.info_schema.query_response_time", "--collect.perf_schema.eventsstatements", "--collect.perf_schema.eventswaits", "--collect.perf_schema.file_events", "--collect.perf_schema.file_instances", "--collect.perf_schema.indexiowaits", "--collect.perf_schema.tableiowaits", "--collect.perf_schema.tablelocks"]
          environment:
            DATA_SOURCE_NAME: root:{{mysql_root_password}}@(percona-xtradb-cluster:3306)/{{mysql_database}}

        {{percona_service_name}}:
          image: {{percona_image_version}}
          command: ["--plugin-load=query_response_time.so", "--performance-schema=1", "--query-response-time-stats=1"]
          ports:
            - "31306:3306"
          deploy:
            mode: replicated
            replicas: 3
          environment:
            MYSQL_ROOT_PASSWORD: {{mysql_password}}
            DISCOVERY_SERVICE: etcd:2379
            #CLUSTER_JOIN: percona-xtradb-cluster,percona-xtradb-cluster-init
            CLUSTER_NAME: Theistareykjarbunga
            MYSQL_DATABASE: {{mysql_database}}
            MYSQL_USER: {{mysql_user}}
            MYSQL_PASSWORD: {{mysql_password}}

        {{etcd_service_name}}:
          image: {{etcd_image_version}}
          volumes:
            - type: volume
              source: etcd
              target: /etcd0.etcd
              volume:
                nocopy: true
          ports:
            - "2380:2380"
            - "2379:2379"
          environment:
            ETCD_NAME: etcd0
            ETCD_LISTEN_PEER_URLS: http://0.0.0.0:2380
            ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
            ETCD_INITIAL_ADVERTISE_PEER_URLS: http://etcd:2380
            ETCD_INITIAL_CLUSTER: etcd0=http://etcd:2380
            ETCD_INITIAL_CLUSTER_STATE: new
            ETCD_INITIAL_CLUSTER_TOKEN: etcd-cluster-1
            ETCD_ADVERTISE_CLIENT_URLS: http://etcd:2379

volumes:
  wordpress:
    driver_opts:
      type: "nfs4"
      o: "addr={{ swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/{{ nfs_www_folder }}"
  etcd:
    driver_opts:
      type: "nfs4"
      o: "addr={{ swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/{{ nfs_etcd_folder }}"
  wordpress_config_nfs:
    driver_opts:
      type: "nfs4"
      o: "addr={{swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/wp-config/config/"