http{
server {
    listen              31443 ssl; # 'ssl' parameter tells NGINX to decrypt the traffic
    server_name         {{ swarm_remote_addrs }};
    ssl_certificate     msap_x509.crt; # The certificate file
    ssl_certificate_key msap_x509.key; # The private key file


    location / {
         proxy_pass http://{{ swarm_remote_addrs }}:31080;
         proxy_buffering on;
         proxy_buffers 12 12k;
         proxy_redirect off;
         proxy_set_header        Host $host:$server_port;
         proxy_set_header        X-Real-IP $remote_addr;
         proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
         proxy_set_header        X-Forwarded-Proto $scheme;
    }
}
server {
    listen              31456 ssl; # 'ssl' parameter tells NGINX to decrypt the traffic
    server_name         {{ swarm_remote_addrs }};
    ssl_certificate     msap_x509.crt; # The certificate file
    ssl_certificate_key msap_x509.key; # The private key file


    location / {
        client_max_body_size 2G;
        proxy_pass http://{{ swarm_remote_addrs }}:4567;
        proxy_set_header Host $host:$server_port;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}}
stream{
server {
    listen              31022; # 'ssl' parameter tells NGINX to decrypt the traffic
    proxy_pass {{ swarm_remote_addrs }}:3122;
}
}
events {
  worker_connections  4096;  ## Default: 1024
}