apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  MARIADB_USER: {{ db_user }}
  MARIADB_DATABASE: {{ db_database }}
  MARIADB_EXTRA_FLAGS: >
    --plugin-load=query_response_time
    --performance-schema
    --query-response-time-stats=1
---
apiVersion: v1
kind: Secret
metadata:
  name: database-secrets
  namespace: {{ namespace }}
type: Opaque
data:
  root_password: {{ db_root_password | b64encode | quote }}
  password: {{ db_password | b64encode }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ db_service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - port: {{ db_port }}
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  storageClassName: rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      securityContext:
        #runAsUser: 0
        fsGroup: 7777
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        env:
        - name: MARIADB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: root_password
        - name: MARIADB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: password
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-config
        ports:
        - containerPort: {{ db_port }}
          name: {{ app_tier }}
        volumeMounts:
        - name: {{ app_tier }}
          mountPath: /bitnami
      volumes:
      - name: {{ app_tier }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim