 version: '3.4'
 services:
   {{gitlab_service_name}}:
     image: {{gitlab_image_version}}
     healthcheck:
       test: /opt/gitlab/bin/gitlab-healthcheck --fail --max-time 10
       interval: 60s
       timeout: 30s
       retries: 5
       start_period: 1500s
     deploy:
       replicas: {{replicas}}
       placement:
         constraints:
           - node.role == worker
     ports:
       - "3122:22"
       - "{{gitlab_service_port}}:{{gitlab_service_port}}"
       - "4567:4567"
     volumes:
       - type: volume
         source: git_data
         target: /var/opt/gitlab
         volume:
           nocopy: true
       - type: volume
         source: config
         target: /etc/gitlab
         volume:
           nocopy: true
     environment:
       GITLAB_OMNIBUS_CONFIG: |
         external_url 'http://{{ swarm_remote_addrs }}:{{gitlab_service_port}}'
         registry_external_url 'http://{{ swarm_remote_addrs }}:4567'
         gitlab_rails['initial_root_password'] =  '{{ gitlab_root_password }}'


         letsencrypt['enable'] = false
         gitlab_rails['gitlab_shell_ssh_port'] = 22
         gitlab_rails['monitoring_whitelist'] = ['0.0.0.0/0']

         registry_nginx['enable'] = true
         registry_nginx['listen_port'] = 4567
         registry_nginx['listen_https'] = false
         registry_nginx['redirect_http_to_https'] = true
         registry_nginx['proxy_set_headers'] = {
           "X-Forwarded-Proto" => "https",
           "X-Forwarded-Ssl" => "on"
         }
         nginx['redirect_http_to_https'] = true
         postgresql['enable'] = false
         redis['enable'] = false
         registry['enable'] = true
         redis_master_role['enable'] = false
         redis_slave_role['enable'] = false
         prometheus['enable'] = false
         alertmanager['enable'] = false
         node_exporter['enable'] = false
         redis_exporter['enable'] = false
         postgres_exporter['enable'] = false
         prometheus_monitoring['enable'] = false
         gitlab_monitor['enable'] = false
         unicorn['enable'] = true
         nginx['enable'] = true
         nginx['listen_port'] = {{gitlab_service_port}}
         nginx['listen_https'] = false
         nginx['proxy_set_headers'] = {
           "X-Forwarded-Proto" => "https",
           "X-Forwarded-Ssl" => "on"
         }

         puma['enable'] = false

         #502 if disabled
         gitlab_workhorse['enable'] = true
         gitlab_workhorse['ha'] = false
         gitlab_workhorse['listen_addr'] = "/tmp/gitlab-workhorse-socket"
         unicorn['socket'] = '/tmp/gitlab-rails-gitlab.socket'

         # Postgres
         gitlab_rails['db_host'] = "postgres"
         gitlab_rails['db_database'] = "{{ postgres_db }}"
         gitlab_rails['db_username'] = "{{ postgres_user }}"
         gitlab_rails['db_password'] = "{{ postgres_password }}"
         # Redis
         gitlab_rails['redis_host'] = "redis"
         #"from_file('/omnibus_config.rb')"
         high_availability['mountpoint'] = ["/var/opt/gitlab"]
     deploy:
       mode: replicated
       replicas: {{replicas}}
   {{redis_service_name}}:
     image: "{{redis_image_version}}"
   {{redis_exporter_service_name}}:
     image: "{{redis_exporter_image_version}}"
     ports:
       - 9121:9121
     environment:
       REDIS_ADDR: redis://{{redis_service_name}}:6379
 volumes:
   config:
     driver_opts:
       type: nfs4
       o: "addr={{ swarm_remote_addrs }},nolock,rw"
       device: ":/cephfile/{{ nfs_config_folder }}"
   logs:
     driver_opts:
       type: nfs4
       o: "addr={{ swarm_remote_addrs}},nolock,rw"
       device: ":/cephfile/{{ nfs_log_folder }}"
   git_data:
     driver_opts:
       type: nfs4
       o: "addr={{ swarm_remote_addrs }},nolock,rw"
       device: ":/cephfile/{{ nfs_data_folder }}"