 version: '3.4'
 services:

   {{postgres_service_name}}:
     image: "{{postgres_image_version}}"
     volumes:
       - "postgres_data:/data"
     ports:
       - 31432:5432
     environment:
       POSTGRES_USER: {{ postgres_user }}
       POSTGRES_PASSWORD: {{ postgres_password }}
       PGDATA: {{ postgres_data }}
       POSTGRES_DB: {{ postgres_db }}
   {{postgres_exporter_service_name}}:
     image: "{{postgres_exporter_image_version}}"
     ports:
       - 9187:9187
     environment:
       DATA_SOURCE_NAME: "postgresql://{{postgres_user}}:{{postgres_password}}@{{postgres_service_name}}:5432/{{postgres_db}}?sslmode=disable"
 volumes:
   postgres_data:
     driver_opts:
       type: nfs4
       o: "addr={{ swarm_remote_addrs }},nolock,rw"
       device: ":/cephfile/{{ nfs_postgres_folder }}"