---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-config
  namespace: {{ namespace }}
data:
  gitlab_omnibus_config: |
    external_url 'http://gitlab.example.com:{{ http_port }}'
    gitlab_rails['gitlab_shell_ssh_port'] = {{ ssh_port }}

    # Prevent GitLab from starting if NFS data mounts are not available
    high_availability['mountpoint'] = '/var/opt/gitlab/git-data'

    gitlab_rails['initial_root_password'] = ENV['GITLAB_ROOT_PASSWORD']

    # Disable components that will not be on the GitLab application server
    roles ['application_role']
    nginx['enable'] = true

    # Redis
    gitlab_rails['redis_host'] = 'gitlab-redis'

    # Postgres
    gitlab_rails['db_host'] = "gitlab-postgres"
    gitlab_rails['db_database'] = "gitlab"
    gitlab_rails['db_username'] = "gitlab"
    gitlab_rails['db_password'] = "gitlab"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    tier: {{ app_tier }}
type: Opaque
data:
  gitlab-root-password: {{ gitlab_root_password | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - name: {{ service_name }}-ui
      port: 80
      protocol: TCP
      targetPort: {{ http_port }}
      nodePort: {{ http_port }}
    - name: {{ service_name }}-ssh
      port: 22
      protocol: TCP
      targetPort: 22
      nodePort: {{ ssh_port }}
    - name: {{ service_name }}-secure-ui
      port: 443
      protocol: TCP
      targetPort: 443
      nodePort: {{ https_port }}
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      containers:
      - image: {{ image }}
        name: {{ app_name }}
        env:
        - name: GITLAB_OMNIBUS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: {{ app_name }}-config
              key: gitlab_omnibus_config
        - name: GITLAB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ app_name }}
              key: gitlab-root-password
        ports:
        - name: {{ app_name }}
          containerPort: {{ http_port }}
        volumeMounts:
        - name: {{ app_name }}
          mountPath: /var/opt/gitlab
          subPath: gitlab_data
        - name: {{ app_name }}
          mountPath: /var/log/gitlab
          subPath: gitlab_logs
        - name: {{ app_name }}
          mountPath: /etc/gitlab
          subPath: gitlab_config
        securityContext:
          allowPrivilegeEscalation: true
          privileged: true
      volumes:
      - name: {{ app_name }}
        persistentVolumeClaim:
          claimName: {{ app_name }}-pv-claim
