---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  # See https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template
  gitlab_omnibus_config: |
    external_url 'https://{{ master_ip }}:31443'
    letsencrypt['enable'] = false
    nginx['listen_port'] = {{ http_port }}
    nginx['listen_https'] = false
    registry_external_url 'http://{{ master_ip }}:{{ registry_port }}'

    root_pass = ENV['GITLAB_ROOT_PASSWORD']

    gitlab_rails['gitlab_shell_ssh_port'] = {{ ssh_port }}
    gitlab_rails['monitoring_whitelist'] = ['0.0.0.0/0']

    postgresql['enable'] = false
    redis['enable'] = false
    registry['enable'] = true
    redis_master_role['enable'] = false
    redis_slave_role['enable'] = false
    prometheus['enable'] = false
    alertmanager['enable'] = false
    node_exporter['enable'] = false
    redis_exporter['enable'] = false
    postgres_exporter['enable'] = false

    prometheus_monitoring['enable'] = false

    #gitaly['enable'] = false

    #sentinel['enable'] = false

    gitlab_monitor['enable'] = false

    unicorn['enable'] = true
    nginx['enable'] = true
    puma['enable'] = false

    #502 if disabled
    gitlab_workhorse['enable'] = true
    gitlab_workhorse['ha'] = false
    gitlab_workhorse['listen_addr'] = "/tmp/gitlab-workhorse-socket"
    unicorn['socket'] = '/tmp/gitlab-rails-gitlab.socket'


    # Postgres
    gitlab_rails['db_host'] = "{{ db_service_name }}"
    gitlab_rails['db_database'] = "{{ db_name }}"
    postgresql['port'] = "{{ db_port }}"
    gitlab_rails['db_username'] = "{{ db_user }}"
    gitlab_rails['db_password'] = "{{ db_password }}"

    # Redis
    gitlab_rails['redis_host'] = "{{ redis_service_name }}"

    high_availability['mountpoint'] = ["/var/opt/gitlab"]
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    tier: {{ app_tier }}
type: Opaque
data:
  gitlab-root-password: {{ gitlab_root_password | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - name: {{ service_name }}-ui
      port: {{ http_port }}
    - name: {{ service_name }}-ssh
      port: {{ ssh_port }}
    - name: {{ service_name }}-secure-ui
      port: {{ https_port }}
    - name: {{ service_name }}-registry
      port: {{ registry_port }}
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: hardware
                    operator: NotIn
                    values:
                      - bad
      initContainers:
        - name: init-db
          image: busybox:1.30
          command: ['sh', '-c', 'until nslookup {{ db_service_name }}; do echo waiting for {{ db_service_name }}; sleep 2; done;']
        - name: init-redis
          image: busybox:1.30
          command: ['sh', '-c', 'until nslookup {{ redis_service_name }}; do echo waiting for {{ redis_service_name }}; sleep 2; done;']
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        env:
        - name: GITLAB_OMNIBUS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: {{ app_tier }}-config
              key: gitlab_omnibus_config
        - name: GITLAB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ app_tier }}
              key: gitlab-root-password
        ports:
        - name: {{ app_tier }}-http
          containerPort: {{ http_port }}
        readinessProbe:
          httpGet:
            path: /-/health
            port: {{ http_port }}
          periodSeconds: 60
        volumeMounts:
        - name: {{ app_tier }}
          mountPath: /var/opt/gitlab
          subPath: gitlab_data
        - name: {{ app_tier }}
          mountPath: /var/log/gitlab
          subPath: gitlab_logs
        - name: {{ app_tier }}
          mountPath: /etc/gitlab
          subPath: gitlab_config
        securityContext:
          allowPrivilegeEscalation: true
          privileged: true
      volumes:
      - name: {{ app_tier }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_tier }}-ingress
  namespace: {{ namespace }}
spec:
  backend:
    serviceName: {{ service_name }}
    servicePort: {{ http_port }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: monitoring
  name: {{ app_tier }}-exporter
  labels:
    tier: {{ app_tier }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
  namespaceSelector:
    matchNames:
    - {{ namespace }}
  endpoints:
  - port: {{ service_name }}-ui
    interval: 15s
    path: /-/metrics