version: '3.3'
services:
  {{ mongodb_secondary_service_name }}:
    image: {{ mongodb_image }}
    deploy:
      placement:
        constraints:
          - node.role == worker
          - node.labels.hardware != bad
    environment:
      - MONGODB_REPLICA_SET_MODE=secondary
      - MONGODB_PRIMARY_HOST={{ mongodb_primary_service_name }}
      - MONGODB_PRIMARY_PORT_NUMBER=27017
      - MONGODB_ADVERTISED_HOSTNAME={{ mongodb_secondary_service_name }}
      - MONGODB_REPLICA_SET_KEY=test123
      - MONGODB_PRIMARY_ROOT_PASSWORD={{mongodb_root_password}}
  {{ mongodb_arbiter_service_name }}:
    image: {{ mongodb_image }}
    deploy:
      placement:
        constraints:
          - node.role == worker
          - node.labels.hardware == bad
    environment:
      - MONGODB_REPLICA_SET_MODE=arbiter
      - MONGODB_PRIMARY_HOST={{ mongodb_primary_service_name }}
      - MONGODB_PRIMARY_PORT_NUMBER=27017
      - MONGODB_ADVERTISED_HOSTNAME={{ mongodb_arbiter_service_name }}
      - MONGODB_REPLICA_SET_KEY=test123
      - MONGODB_PRIMARY_ROOT_PASSWORD={{mongodb_root_password}}
volumes:
  data:
    driver_opts:
      type: "nfs4"
      o: "addr={{swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/{{ nfs_mongodb_folder }}"