version: '3.3'
services:
  {{ mongodb_primary_service_name }}:
    image: {{ mongodb_image }}
    deploy:
      placement:
        constraints:
          - node.role == worker
          - node.labels.hardware != bad
    volumes:
      - type: volume
        source: data
        target: /bitnami
        volume:
          nocopy: true
    ports:
          - "31717:27017"
    environment:
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_ADVERTISED_HOSTNAME={{ mongodb_primary_service_name }}
      - MONGODB_USERNAME={{ mongodb_username }}
      - MONGODB_PASSWORD={{ mongodb_password }}
      - MONGODB_DATABASE=rocketchat
      - MONGODB_ROOT_PASSWORD={{mongodb_root_password}}
      - MONGODB_REPLICA_SET_KEY=test123
volumes:
  data:
    driver_opts:
      type: "nfs4"
      o: "addr={{swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/{{ nfs_mongodb_folder }}"