# global config
global:
  scrape_interval:     5s # How frequently to scrape targets
  scrape_timeout:      5s # How long until a scrape request times out
  evaluation_interval: 1m # How frequently to evaluate rules

# scrape config
scrape_configs:
  - job_name: 'prometheus'
    dns_sd_configs:
    - names:
      - 'tasks.prometheus'
      type: 'A'
      port: 9090

  - job_name: 'cadvisor'
    dns_sd_configs:
    - names:
      - 'tasks.cadvisor'
      type: 'A'
      port: 8080

  - job_name: 'nodeexporter'
    dns_sd_configs:
    - names:
      - 'tasks.nodeexporter'
      type: 'A'
      port: 9100

  - job_name: 'mongodb-exporter'
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ swarm_remote_addrs }}:9216']