version: '3.4'
services:
  {{rocket_service_name}}:
    image: {{ rocket_image }}
    healthcheck:
      test: curl --fail -s http://localhost:{{ rocket_service_port }}/ || exit 1
      interval: 1s
      timeout: 3s
      retries: 3
      start_period: 30m
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
    environment:
      - PORT={{ rocket_service_port }}
      - ROOT_URL=https://{{swarm_remote_addrs}}:{{ rocket_service_port_secure }}
      - MONGO_URL=mongodb://{{mongodb_username}}:{{mongodb_password}}@{{ mongodb_primary_service_name }}:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://root:{{mongodb_root_password}}@{{ mongodb_primary_service_name }}:27017/local?authSource=admin
      - INSTANCE_IP={{ swarm_remote_addrs }}
      - ADMIN_USERNAME={{ rocket_admin_name }}
      - ADMIN_PASS={{ rocket_admin_password }}
      - ADMIN_EMAIL={{ rocket_admin_email }}
      - OVERWRITE_SETTING_Show_Setup_Wizard=completed
      - OVERWRITE_SETTING_API_Enable_Rate_Limiter_Limit_Calls_Default=1000000
    ports:
      - {{ rocket_service_port }}:{{ rocket_service_port }}
  mongo_exporter:
    image: bruceforce/percona-mongodb-exporter
    ports:
      - "9216:9216"
    environment:
          - MONGODB_URI=mongodb://root:{{mongodb_root_password}}@{{ swarm_remote_addrs }}:31717