version: '3.4'
services:
   {{mysql_service_name}}:
     image: {{mysql_image_version}}
     ports:
       - "31306:3306"
     volumes:
       - type: volume
         source: database
         target: /bitnami
         volume:
           nocopy: true
     environment:
       MARIADB_ROOT_PASSWORD: {{mysql_root_password}}
       MARIADB_DATABASE: {{mysql_database}}
       MARIADB_USER: {{mysql_user}}
       MARIADB_PASSWORD: {{mysql_password}}
       MARIADB_EXTRA_FLAGS: --plugin-load=query_response_time --performance-schema=1 --query-response-time-stats=1
   {{wordpress_service_name}}:
     image: {{wordpress_image_version}}
     healthcheck:
       test: curl --fail -s http://localhost:80/ || exit 1
       interval: 1s
       timeout: 3s
       retries: 3
       start_period: 30m
     volumes:
       - type: volume
         source: wordpress_config_nfs
         target: /bitnami/wordpress
       - type: volume
         source: wordpress
         target: /bitnami
         volume:
           nocopy: true
     deploy:
       replicas: 1
       placement:
         constraints:
           - node.role == worker
     ports:
       - "{{ wordpress_service_port }}:80"
    #   - "{{ wordpress_service_port_secure }}:443"
     environment:
       WORDPRESS_USERNAME: wordpress
       WORDPRESS_PASSWORD: wordpress
       WORDPRESS_EMAIL: a@a.de
       WORDPRESS_FIRST_NAME: root
       WORDPRESS_LAST_NAME: toor
       WORDPRESS_BLOG_NAME: MSAP-Blog
       MARIADB_HOST: {{ mysql_service_name }}
       WORDPRESS_DATABASE_USER: {{mysql_user}}
       WORDPRESS_DATABASE_PASSWORD: {{mysql_password}}
       WORDPRESS_DATABASE_NAME: {{mysql_database}}
   {{mysql_exporter_service_name}}:
     image: {{mysql_exporter_image_version}}
     ports:
       - "9104:9104"
     command: ["--collect.info_schema.query_response_time", "--collect.perf_schema.eventsstatements", "--collect.perf_schema.eventswaits", "--collect.perf_schema.file_events", "--collect.perf_schema.file_instances", "--collect.perf_schema.indexiowaits", "--collect.perf_schema.tableiowaits", "--collect.perf_schema.tablelocks"]
     environment:
       DATA_SOURCE_NAME: root:{{mysql_root_password}}@({{mysql_service_name}}:{{mysql_service_port}})/{{mysql_database}}
volumes:
  database:
    driver_opts:
      type: "nfs4"
      o: "addr={{swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/{{ nfs_mysql_folder }}"
  wordpress:
    driver_opts:
      type: "nfs4"
      o: "addr={{swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/{{ nfs_www_folder }}"
  wordpress_config_nfs:
    driver_opts:
      type: "nfs4"
      o: "addr={{swarm_remote_addrs }},nolock,rw"
      device: ":/cephfile/wp-config/config/"