version: '3.3'
services:
   {{mysql_service_name}}:
     image: mysql:5.7
     volumes:
       - type: volume
         source: example
         target: /var/lib/mysql
         volume:
           nocopy: true
     environment:
       MYSQL_ROOT_PASSWORD: {{mysql_root_password}}
       MYSQL_DATABASE: {{mysql_database}}
       MYSQL_USER: {{mysql_user}}
       MYSQL_PASSWORD: {{mysql_password}}

   {{wordpress_service_name}}:
     depends_on:
       - {{mysql_service_name}}
     image: wordpress:4.8-apache
     volumes:
       - type: volume
         source: wordpress
         target: /var/www/html
         volume:
           nocopy: true
     ports:
       - "{{wordpress_service_port}}:80"
     environment:
       WORDPRESS_DB_HOST: {{mysql_service_name}}:{{mysql_service_port}}
       WORDPRESS_DB_USER: {{mysql_user}}
       WORDPRESS_DB_PASSWORD: {{mysql_password}}

   mysqlexporter: 
     image: prom/mysqld-exporter
     ports:
       - "9104:9104"
     environment:
       DATA_SOURCE_NAME: root:{{mysql_root_password}}@({{mysql_service_name}}:{{mysql_service_port}})/{{mysql_database}}
volumes:
  example:
    driver_opts:
      type: "nfs4"
      o: "addr={{nfs_server_ip}},nolock,rw"
      device: ":/cephfile/{{ nfs_mysql_folder }}"
  wordpress:
    driver_opts:
      type: "nfs4"
      o: "addr={{nfs_server_ip}},nolock,rw"
      device: ":/cephfile/{{ nfs_www_folder }}"
