---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-config
  namespace: {{ namespace }}
data:
  gitlab_omnibus_config: |
    external_url 'http://gitlab.example.com:{{ http_port }}'

    gitlab_rails['initial_root_password'] = ENV['GITLAB_ROOT_PASSWORD']

    gitlab_rails['gitlab_shell_ssh_port'] = {{ ssh_port }}

    prometheus_monitoring['enable'] = false
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    tier: {{ app_tier }}
type: Opaque
data:
  gitlab-root-password: {{ gitlab_root_password | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - name: {{ service_name }}-ui
      port: 80
      protocol: TCP
      targetPort: {{ http_port }}
    - name: {{ service_name }}-ssh
      port: 22
      protocol: TCP
      targetPort: 22
    - name: {{ service_name }}-secure-ui
      port: 443
      protocol: TCP
      targetPort: 443
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
  type: LoadBalancer
---
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: {{ app_name }}-pv-claim
#  namespace: {{ namespace }}
#  labels:
#    app: {{ app_name }}
#spec:
#  accessModes:
#    - ReadWriteOnce
#  resources:
#    requests:
#      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      containers:
      - image: {{ image }}
        name: {{ app_name }}
        env:
        - name: GITLAB_OMNIBUS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: {{ app_name }}-config
              key: gitlab_omnibus_config
        - name: GITLAB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ app_name }}
              key: gitlab-root-password
        ports:
        - name: {{ app_name }}
          containerPort: {{ http_port }}
#        volumeMounts:
#        - name: {{ app_name }}
#          mountPath: /var/opt/gitlab
#          subPath: gitlab_data
#        - name: {{ app_name }}
#          mountPath: /var/log/gitlab
#          subPath: gitlab_logs
#        - name: {{ app_name }}
#          mountPath: /etc/gitlab
#          subPath: gitlab_config
        securityContext:
          allowPrivilegeEscalation: true
          privileged: true
#      volumes:
#      - name: {{ app_name }}
#        persistentVolumeClaim:
#          claimName: {{ app_name }}-pv-claim
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_tier }}-ingress
  namespace: {{ namespace }}
spec:
  backend:
    serviceName: {{ service_name }}
    servicePort: {{ http_port }}