---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  gitlab_omnibus_config: |
    # Specify server role as 'redis_master_role'
    roles ['redis_master_role']

    # IP address pointing to a local IP that the other machines can reach to.
    # You can also set bind to '0.0.0.0' which listen in all interfaces.
    # If you really need to bind to an external accessible IP, make
    # sure you add extra firewall rules to prevent unauthorized access.
    redis['bind'] = '0.0.0.0'

    # Define a port so Redis can listen for TCP requests which will allow other
    # machines to connect to it.
    redis['port'] = 6379

    # Set up password authentication for Redis (use the same password in all nodes).
    #redis['password'] = 'redis-password-goes-here'

    gitlab_rails['auto_migrate'] = false

    external_url 'http://gitlab.example.com:{{ http_port }}'
    gitlab_rails['gitlab_shell_ssh_port'] = {{ ssh_port }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
    - port: 6379
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_tier }}-pv-claim
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      containers:
      - image: {{ image }}
        name: {{ app_tier }}
        env:
        - name: GITLAB_OMNIBUS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: {{ app_tier }}-config
              key: gitlab_omnibus_config
        ports:
        - name: {{ app_name }}
          containerPort: 6379
        volumeMounts:
        - name: {{ app_name }}
          mountPath: /var/opt/gitlab
          subPath: gitlab_data
        - name: {{ app_name }}
          mountPath: /var/log/gitlab
          subPath: gitlab_logs
        - name: {{ app_name }}
          mountPath: /etc/gitlab
          subPath: gitlab_config
        securityContext:
          allowPrivilegeEscalation: true
          privileged: true
      volumes:
      - name: {{ app_name }}
        persistentVolumeClaim:
          claimName: {{ app_tier }}-pv-claim
