apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_tier }}-config
  namespace: {{ namespace }}
data:
  MYSQL_DATABASE: {{ db_database }}
  MYSQL_USER: {{ db_user }}
  CLUSTER_NAME: cluster1
---
apiVersion: v1
kind: Secret
metadata:
  name: database-secrets
  namespace: {{ namespace }}
type: Opaque
data:
  root_password: {{ db_root_password | b64encode | quote }}
  password: {{ db_password | b64encode | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ db_service_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
  - name: db-port
    port: {{ db_port }}
  - name: snapshot-transfer-port
    port: 4444
  - name: group-communication-port
    port: 4567
  - name: incremental-state-transfer-port
    port: 4568
  selector:
    app: {{ app_name }}
    tier: {{ app_tier }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: 1 #will be scaled in main.yml task
  serviceName: {{ db_service_name }}
  selector:
    matchLabels:
      app: {{ app_name }}
      tier: {{ app_tier }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      securityContext:
        fsGroup: 7777
      containers:
      - name: {{ app_tier }}
        image: {{ image }}
        args:
          - "--plugin-load=query_response_time.so"
          - "--performance-schema"
          - "--query-response-time-stats=1"
        envFrom:
          - configMapRef:
              name: {{ app_tier }}-config
        env:
        - name: DISCOVERY_SERVICE
          value: etcd:2379
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: root_password
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: password
        ports:
        - containerPort: {{ db_port }}
        - containerPort: 4444
        - containerPort: 4567
        - containerPort: 4568
        readinessProbe:
          exec:
            command:
              - sh
              - -c
              - "mysqladmin status -u wordpress -p${MYSQL_PASSWORD}"
          successThreshold: 3
        livenessProbe:
          exec:
            command:
              - sh
              - -c
              - "mysqladmin status -u wordpress -p${MYSQL_PASSWORD}"
          initialDelaySeconds: 300
          periodSeconds: 5
          timeoutSeconds: 15
        volumeMounts:
        - name: {{ app_tier }}
          mountPath: /var/lib/mysql
          subPath: mysql_data
  volumeClaimTemplates:
  - metadata:
      name: {{ app_tier }}
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: rbd
      resources:
        requests:
          storage: 20Gi
