---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ app_tier }}
  namespace: {{ namespace }}
spec:
  template:
    metadata:
      labels:
        app: {{ app_name }}
        tier: {{ app_tier }}
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: tier
                    operator: In
                    values:
                      - {{ app_tier }}
              topologyKey: "kubernetes.io/hostname"
      containers:
      - name: pi
        image: {{ image }}
        command: ["perl",  "-Mbignum=bpi", "-wle", "print bpi({{ decimal_place }})"]
      restartPolicy: Never
  backoffLimit: {{ replicas }}
  completions: {{ replicas }}
  parallelism: {{ replicas }}